<h1> Farm <%= @farm.name%>'s Page</h1>

<ul> This farm has a net worth of <%= @farm.get_value%>$</ul>
<p>
It has :
<%@farm.animals.each do |animal|%>
  <ul> <%= pluralize(animal.quantity,animal.name)%></ul>
<%end%>
</p>


<% if current_owner.admin %>
  <%= form_for(Animal.new)  do |f|%>
    <%= f.hidden_field :farm_id , value: @farm.id%> </br></br>
    <label>Name:  </label>    <input type="text_field" id="animal[name]" name="animal[name]"></br>
    <label>Quantity: </label>  <input type="number_field" id="animal[quantity]" name="animal[quantity]"></br>
    <label>Unit Price: </label>  <input type="number_field" id="animal[unit_price]" name="animal[unit_price]"></br>
  <%= button_tag "Add new animal to this farm"%>
  <%end%>
<%end%>
